:root {
  /** Primary Colors */
  --blue-moderate: hsl(238, 40%, 52%);
  --blue-lgrayish: hsl(239, 57%, 85%);

  --red-soft: hsl(358, 79%, 66%);
  --red-pale: hsl(357, 100%, 86%);

  /** Neutral Colors  */
  --blue-dark: hsl(212, 24%, 26%);
  --blue-grayish: hsl(211, 10%, 45%);

  --gray-light: hsl(223, 19%, 93%);
  --gray-vlight: hsl(228, 33%, 97%);

  --white: hsl(0, 0%, 100%);

  /* Typography */
  --ft-size: 1.6rem;
  --ft-rubik: "Rubik";
  --ft-w400: 400;
  --ft-w500: 500;
  --ft-w700: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 50%;
}
body {
  font-family: var(--ft-rubik), sans-serif;
  font-size: var(--ft-size);
  background-color: var(--gray-vlight);
}
.container {
  margin-inline: 3rem;
}
.comment__container {
  max-width: 95rem;
  background-color: var(--white);
  margin-inline: auto;
  margin-block: 5rem;
}
