:root {
  /** Primary Colors */
  --blue-moderate: #5457b5;
  --blue-lgrayish: #c3c4ef;

  --red-soft: hsl(358, 79%, 66%);
  --red-pale: #ffb8bb;

  /** Neutral Colors  */
  --blue-dark: hsl(212, 24%, 26%);
  --blue-grayish: hsl(211, 10%, 45%);

  --gray-light: hsl(223, 19%, 93%);
  --gray-vlight: hsl(228, 33%, 97%);

  --white: hsl(0, 0%, 100%);

  /* Typography */
  --ft-size: 1.6rem;
  --ft-rubik: "Rubik";
  --ft-w400: 400;
  --ft-w500: 500;
  --ft-w700: 700;

  --rounding: 1rem;
  --img-w: 4.8rem;
}

* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: var(--ft-rubik), sans-serif;
  font-size: var(--ft-size);
  background-color: var(--gray-vlight);
}

button {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

textarea::-webkit-scrollbar {
  width: 0.75rem;
  background: var(--gray-light);
}
textarea::-webkit-scrollbar-thumb {
  width: 100%;
  background: var(--blue-grayish);
  border-radius: var(--rounding);
}

.container {
  margin-inline: 3rem;
}

.comment__box,
.comment__new,
.reply__box,
.reply__new {
  background-color: var(--white);
  border-radius: var(--rounding);
  padding: 3rem 2rem;
  margin-bottom: 2rem;
}

.comments__container {
  max-width: 76rem;
  margin-inline: auto;
  margin-block: 5rem;
}

/* TODO STYLING COMMENT CONTAINER */
.comments__list,
.replies__list {
  list-style: none;
}

.comment__box,
.reply__box {
  display: flex;
  gap: 2rem;
}

.comment__rate,
.reply__rate {
  align-self: flex-start;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1.5rem 0.75rem;
  border-radius: var(--rounding);

  background-color: var(--gray-vlight);
}

.comment__content,
.reply__content {
  flex: 1;
}

/* Styling the rate buttons */

.comment__rate img,
.reply__rate img {
  width: 1.4rem;
}

.comment__rate button:hover,
.reply__rate button:hover {
  filter: brightness(0) saturate(100%) invert(35%) sepia(12%) saturate(2873%)
    hue-rotate(200deg) brightness(99%) contrast(93%);
}

.comment__rate span,
.reply__rate span {
  color: var(--blue-moderate);
  font-weight: var(--ft-w500);
}

/* Styling the content header */
.comment__content--header,
.reply__content--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.comment__content--header .left,
.reply__content--header .left {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.comment__content--header .left img,
.reply__content--header .left img {
  width: var(--img-w);
}

.comment__content--header .left span:first-of-type,
.reply__content--header .left span:first-of-type {
  font-weight: var(--ft-w500);
  color: var(--blue-dark);
}

.comment__content--header .left span:last-of-type,
.reply__content--header .left span:last-of-type {
  color: var(--blue-grayish);
}

.comment__content--header button,
.reply__content--header button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.comment__content--header button:last-child,
.reply__content--header button:last-child {
  color: var(--blue-moderate);
  font-weight: var(--ft-w700);
}

.comment__content--header button:hover,
.reply__content--header button:hover {
  filter: brightness(0) saturate(100%) invert(81%) sepia(2%) saturate(7030%)
    hue-rotate(201deg) brightness(102%) contrast(88%);
}

/* Styling the comment text */
.comment__content--text,
.reply__content--text {
  color: var(--blue-grayish);
  line-height: 1.5;
}

/* TODO STYLING THE ADD COMMENT FORM */
.comment__new,
.reply__new {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

.comment__new img,
.reply__new img {
  width: var(--img-w);
}

.comment__new textarea,
.reply__new textarea {
  flex: 1;
  outline: none;
  resize: none;
  overflow: auto;

  border: 1px solid var(--gray-light);
  border-radius: var(--rounding);
  padding: 1.5rem 3rem;
  min-height: 10rem;
  color: var(--blue-dark);
}

.comment__new textarea:active,
.reply__new textarea:active,
.comment__new textarea:focus,
.reply__new textarea:focus {
  border: 1px solid var(--blue-dark);
}

.comment__new button,
.reply__new button {
  padding: 1.5rem 3rem;
  background: var(--blue-moderate);
  text-transform: uppercase;
  color: var(--gray-vlight);
  font-weight: var(--ft-w700);
  border-radius: var(--rounding);
}
.comment__new button:active,
.comment__new button:hover,
.reply__new button:active,
.reply__new button:hover {
  background: var(--blue-lgrayish);
}

/* TODO Styling the Replies box */
.reply__container {
  border-left: 3px solid var(--gray-light);
  padding-left: 4rem;
  margin-left: 4rem;
}

.tag-style {
  color: var(--blue-dark);
  font-weight: var(--ft-w500);
}

.action {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.action .delete,
.action .edit {
  font-weight: var(--ft-w700);
}

.action .delete {
  color: var(--red-soft);
}

.action .delete:hover {
  filter: brightness(0) saturate(100%) invert(73%) sepia(26%) saturate(508%)
    hue-rotate(309deg) brightness(103%) contrast(103%);
}

.action .edit {
  color: var(--blue-moderate);
}

.action .edit:hover {
  filter: brightness(0) saturate(100%) invert(81%) sepia(2%) saturate(7030%)
    hue-rotate(201deg) brightness(102%) contrast(88%);
}

/* Popup */
.popupAction {
  position: fixed;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--blue-dark);
}
.popupAction .overlay {
  position: absolute;
  inset: 0;
  background: hsla(210, 8%, 53%, 0.443);
  backdrop-filter: blur(2px);
  z-index: -1;
}

.popupAction .popup {
  max-width: 36rem;
  background: var(--gray-light);
  padding: 3rem;
  border-radius: var(--rounding);
}

.popupAction .popup h3 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.popupAction .popup p {
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.popupAction .yes-no {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.popupAction .yes-no > .btn {
  flex: 1;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: var(--ft-w700);
  color: var(--gray-vlight);

  padding: 2rem 1rem;
  border-radius: var(--rounding);
}
.popupAction .yes-no .no__btn {
  background-color: var(--blue-grayish);
}
.popupAction .yes-no .yes__btn {
  background-color: var(--red-soft);
}

/* @media Queries */
@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
  .comment__box,
  .reply__box {
    flex-direction: column;
    position: relative;
  }
  .comment__rate,
  .reply__rate {
    flex-direction: row;

    order: 2;
    gap: 2rem;
    padding: 0.75rem 1.5rem;
  }

  .comment__content--header button,
  .reply__content--header button {
    position: absolute;
    bottom: 4rem;
    right: 3rem;
  }

  .comment__new,
  .reply__new {
    flex-direction: column;
    position: relative;
  }
  .comment__new img,
  .reply__new img {
    order: 1;
  }
  .comment__new textarea,
  .reply__new textarea {
    width: 100%;
  }
  .comment__new button,
  .reply__new button {
    position: absolute;
    bottom: 3rem;
    right: 2rem;
  }

  .reply__container {
    padding-left: 1rem;
    margin-left: 1rem;
  }
}
